@font-face {
  font-family: irohamaru-mikami-Regular;
  src: url("irohamaru-mikami-Regular.ttf");
}

td {
  border: 2px solid #222222;
  text-align: center;
  font-size: 250%;
  color: #000000;
  font-family: irohamaru-mikami-Regular;
}

input {
  text-align: center;
  color: #272c4f;
  text-shadow: 1px 1px 1px #000000;
  border-style: none;
  outline: 0 none;
}

.tl {
  border-top: 6px solid black;
  border-left: 6px solid black;
}

.bl {
  border-bottom: 6px solid black;
  border-left: 6px solid black;
}

.tr {
  border-top: 6px solid black;
  border-right: 6px solid black;
}

.br {
  border-bottom: 6px solid black;
  border-right: 6px solid black;
}

.tt {
  border-top: 6px solid black;
}

.ll {
  border-left: 6px solid black;
}

.bb {
  border-bottom: 6px solid black;
}

.rr {
  border-right: 6px solid black;
}

table {
  top: 50%;
  left: 50%;
  margin: 0px auto;
}

td {
  width: 70px;
  height: 70px;
}

h1 {
  margin: 100px 0 175px 0;
  text-align: center;
  font-size: 50px;
  font-family: irohamaru-mikami-Regular;
}

button {
  font-family: irohamaru-mikami-Regular;
}

.alert {
  font-family: irohamaru-mikami-Regular;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
}

.error-icon {
  display: inline-block;
  vertical-align: middle;
}

.error-text {
  display: inline-block;
}

.btn {
  margin: 0 50px;
  font-size: 17px;
  border: 1px solid transparent;
  border-radius: 0px;
  padding: 8px 16px;
  font-weight: 700;
  letter-spacing: 1px;
  background: none;
  border: 2px solid #525252;
  color: #0f0f0f;
}

.btn.outline.colorShiftBlack {
  transition: 2s;
  color: #0f0f0f;
  border: 2px solid #525252;
}

.btn.outline.colorShiftRed {
  transition: 0.1s;
  color: #ff0000;
  border: 2px solid #ee2222;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.button-row {
  width: fit-content;
  margin: 0px auto;
}
